@media (max-width: 1919px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1679px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1359px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 1279px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 1023px),
  (max-width: 1080px) and (min--moz-device-pixel-ratio: 2),
  (max-width: 1080px) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 1080px) and (-o-min-device-pixel-ratio: 2/1),
  (max-width: 1080px) and (min-device-pixel-ratio: 2) {
  html {
    font-size: 3.6px;
    // font-size: 0.7rem;
  }

  .main-mobile {
    padding: 3.8em 0 4.7em;
  }

  .main-desktop {
    height: 31.87vh;
    top: 14em;
    overflow: unset;
  }

  .logo {
    width: 17.8em;
    height: 6.7em;
    top: -10.35em;
    left: 50%;
    transform: translateX(-50%);
  }

  .question {
    font-size: 0.7rem;
    top: 6em;
  }

  .girl {
    display: none;
  }

  .card,
  .btnCard1,
  .btnCard2,
  .btnCard3 {
    font-size: 0.7rem;
    top: 18em;
  }

  .left-hand {
    font-size: 0.7rem;
    left: 22em;
  }

  .right-hand {
    font-size: 0.7rem;
    right: 7em;
  }

  .best-score,
  .current-score {
    font-size: 0.7rem;
  }

  .spot,
  .rotate-device,
  .wellcome-bonuse {
    font-size: 17px;
    display: inline-block;
  }

  .girl-mobile {
    font-size: 7px;
    display: inline-block;
  }
}

@media (min--moz-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-device-pixel-ratio: 2) {
  html {
    font-size: 0.6rem; // 7.5px
  }
}
