html {
  font-size: 10px;
  box-sizing: border-box;
}

@media (max-width: 1919px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 1679px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1359px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 1279px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 1023px) {
  html {
    font-size: 4px;
  }
}

*,
*::before,
*::after {
  font-size: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("./images/bg.jpg") center / cover no-repeat;
  overflow: hidden;
}

.logo,
.question,
.close,
.modal,
.find-win,
.mix,
.girl,
.card,
.card-face-down,
.ace-club,
.joker,
.ace-heart,
.left-hand,
.right-hand,
.best-score,
.current-score {
  position: absolute;
}

.logo {
  width: 19.7em;
  height: 7.3em;
  top: 3.3em;
  left: 3.7em;
}

.question {
  width: 88.8em;
  height: 10em;
  top: 13.3em;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: all 500ms ease-in 500ms;
}

.question-appear {
  transform: translateX(-50%) scale(1);
}

.close {
  width: 10em;
  height: 10em;
  top: 3.3em;
  right: 3.7em;
}

.modal {
  /* display: none; */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.82);
  transition: opacity 500ms ease-in;
  z-index: 12;
}

.modal-hiding {
  opacity: 0;
  transform: scale(0);
  animation: hiding 500ms ease-in;
}

@keyframes hiding {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

.find-win,
.mix {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 200ms ease-in;
  z-index: 13;
}

.find-win {
  width: 79.2em;
  height: 54em;
}

.find-win-hiding {
  width: 0;
}

.mix {
  width: 0;
  height: 25.1em;
}

.mix-appear {
  width: 42.9em;
}

.find-win:hover,
.mix:hover {
  transform: translate(-50%, -50%) scale(1.009);
}

.find-win > img,
.mix > img {
  width: 100%;
  height: 100%;
}

.girl {
  width: 60.8em;
  height: 94.7em;
  right: 9.6em;
  bottom: 0;
  transition: all 500ms ease-in;
  z-index: 12;
}

.girl-hiding-down {
  height: 0;
}

.card {
  width: 34.6em;
  height: 51.8em;
  top: 29.8em;
  left: 0;
  perspective: 500px;
  transition: all 500ms ease-in;
}

/* +++++++++++++++++++++++CARD 1+++++++++++++++++++++++ */

.card1 {
  transform: translateX(18vw);
  z-index: 1;
}

/* ---------SHUFFLE 1--------- */

.card1-shuffle1 {
  transform: translateX(68vw);
  animation: card1-shuffle1 3000ms ease-in;
  z-index: 3;
}

@keyframes card1-shuffle1 {
  0% {
    transform: translateX(var(--card1TranslateX));
  }
  40% {
    transform: translate(40vw, -5%);
  }
  50% {
    transform: translate(46vw, 0%);
  }
  60% {
    transform: translate(43vw, 5%);
  }
  100% {
    transform: translateX(68vw);
  }
}

/* ---------SHUFFLE 2--------- */

.card1-shuffle2 {
  transform: translateX(18vw);
  animation: card1-shuffle2 3000ms ease-in;
  z-index: 1;
}

@keyframes card1-shuffle2 {
  0% {
    transform: translateX(var(--card1TranslateX));
  }
  40% {
    transform: translate(43vw, 0%);
  }
  50% {
    transform: translate(40vw, 5%);
  }
  60% {
    transform: translate(46vw, -5%);
  }
  100% {
    transform: translateX(18vw);
  }
}

/* ---------SHUFFLE 3--------- */

.card1-shuffle3 {
  transform: translateX(43vw);
  animation: card1-shuffle3 3000ms ease-in;
  z-index: 2;
}

@keyframes card1-shuffle3 {
  0% {
    transform: translateX(var(--card1TranslateX));
  }
  40% {
    transform: translate(46vw, 5%);
  }
  50% {
    transform: translate(43vw, -5%);
  }
  60% {
    transform: translate(40vw, 0%);
  }
  100% {
    transform: translateX(43vw);
  }
}

/* +++++++++++++++++++++++CARD 2+++++++++++++++++++++++ */

.card2 {
  transform: translateX(43vw);
  z-index: 2;
}

/* ---------SHUFFLE 1--------- */

.card2-shuffle1 {
  transform: translateX(18vw);
  animation: card2-shuffle1 3000ms ease-in;
  z-index: 2;
}

@keyframes card2-shuffle1 {
  0% {
    transform: translateX(var(--card2TranslateX));
  }
  40% {
    transform: translate(43vw, 0%);
  }
  50% {
    transform: translate(40vw, 5%);
  }
  60% {
    transform: translate(46vw, -5%);
  }
  100% {
    transform: translateX(18vw);
  }
}

/* ---------SHUFFLE 2--------- */

.card2-shuffle2 {
  transform: translateX(43vw);
  animation: card2-shuffle2 3000ms ease-in;
  z-index: 3;
}

@keyframes card2-shuffle2 {
  0% {
    transform: translateX(var(--card2TranslateX));
  }
  40% {
    transform: translate(46vw, 5%);
  }
  50% {
    transform: translate(43vw, -5%);
  }
  60% {
    transform: translate(40vw, 0%);
  }
  100% {
    transform: translateX(43vw);
  }
}

/* ---------SHUFFLE 3--------- */

.card2-shuffle3 {
  transform: translateX(68vw);
  animation: card2-shuffle3 3000ms ease-in;
  z-index: 1;
}

@keyframes card2-shuffle3 {
  0% {
    transform: translateX(var(--card2TranslateX));
  }
  40% {
    transform: translate(40vw, -5%);
  }
  50% {
    transform: translate(46vw, 0%);
  }
  60% {
    transform: translate(43vw, 5%);
  }
  100% {
    transform: translateX(68vw);
  }
}

/* +++++++++++++++++++++++CARD 3+++++++++++++++++++++++ */

.card3 {
  transform: translateX(68vw);
  z-index: 3;
}

/* ---------SHUFFLE 1--------- */

.card3-shuffle1 {
  transform: translateX(43vw);
  animation: card3-shuffle1 3000ms ease-in;
  z-index: 1;
}

@keyframes card3-shuffle1 {
  0% {
    transform: translateX(var(--card3TranslateX));
  }
  40% {
    transform: translate(46vw, 5%);
  }
  50% {
    transform: translate(43vw, -5%);
  }
  60% {
    transform: translate(40vw, 0%);
  }
  100% {
    transform: translateX(43vw);
  }
}

/* ---------SHUFFLE 2--------- */

.card3-shuffle2 {
  transform: translateX(68vw);
  animation: card3-shuffle2 3000ms ease-in;
  z-index: 2;
}

@keyframes card3-shuffle2 {
  0% {
    transform: translateX(var(--card3TranslateX));
  }
  40% {
    transform: translate(40vw, -5%);
  }
  50% {
    transform: translate(46vw, 0%);
  }
  60% {
    transform: translate(43vw, 5%);
  }
  100% {
    transform: translateX(68vw);
  }
}

/* ---------SHUFFLE 3--------- */

.card3-shuffle3 {
  transform: translateX(18vw);
  animation: card3-shuffle3 3000ms ease-in;
  z-index: 3;
}

@keyframes card3-shuffle3 {
  0% {
    transform: translateX(var(--card3TranslateX));
  }
  40% {
    transform: translate(43vw, 0%);
  }
  50% {
    transform: translate(40vw, 5%);
  }
  60% {
    transform: translate(46vw, -5%);
  }
  100% {
    transform: translateX(18vw);
  }
}

.card-face-down,
.ace-club,
.joker,
.ace-heart {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 500ms ease-in;
}

.card-face-down {
  transform: rotateY(0deg);
}

.ace-club,
.joker,
.ace-heart {
  transform: rotateY(180deg);
}

.card-face-down-rotate {
  transform: rotateY(-180deg);
}

.ace-club-rotate,
.joker-rotate,
.ace-heart-rotate {
  transform: rotateY(0deg);
}

.img-card {
  width: 100%;
  height: 100%;
}

.left-hand,
.right-hand {
  height: 0;
  bottom: 0;
  transition: all 500ms ease-in;
}

.left-hand {
  width: 42.9em;
  left: 40em;
  z-index: 11;
}

.left-hand-appear {
  height: 62em;
}

.right-hand {
  width: 42em;
  right: 30em;
  z-index: 11;
}

.right-hand-appear {
  height: 54.1em;
}

.best-score,
.current-score {
  width: 41em;
  height: 17.5em;
  bottom: 5.5em;
}

.best-score {
  left: 13em;
}

.current-score {
  right: 13em;
}
