.card {
  width: 34.6em;
  height: 51.8em;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  perspective: 500px;
  transition: all 500ms ease-in;
}

/* +++++++++++++++++++++++CARD 1+++++++++++++++++++++++ */

.card1,
.btn-card1 {
  transform: translate(18vw, -50%);
  z-index: 1;
}

/* ---------SHUFFLE 1--------- */

.card1-shuffle1 {
  transform: translate(68vw, -50%);
  animation: card1-shuffle1 2000ms ease-in;
  z-index: 3;
}

@keyframes card1-shuffle1 {
  0% {
    transform: translate(var(--card1TranslateX), -50%);
  }

  40% {
    transform: translate(40vw, -45%);
  }

  50% {
    transform: translate(46vw, -50%);
  }

  60% {
    transform: translate(43vw, -55%);
  }

  100% {
    transform: translate(68vw, -50%);
  }
}

/* ---------SHUFFLE 2--------- */

.card1-shuffle2 {
  transform: translate(18vw, -50%);
  animation: card1-shuffle2 2000ms ease-in;
  z-index: 1;
}

@keyframes card1-shuffle2 {
  0% {
    transform: translate(var(--card1TranslateX), -50%);
  }

  40% {
    transform: translate(43vw, -50%);
  }

  50% {
    transform: translate(40vw, -55%);
  }

  60% {
    transform: translate(46vw, -45%);
  }

  100% {
    transform: translate(18vw, -50%);
  }
}

/* ---------SHUFFLE 3--------- */

.card1-shuffle3 {
  transform: translate(43vw, -50%);
  animation: card1-shuffle3 2000ms ease-in;
  z-index: 2;
}

@keyframes card1-shuffle3 {
  0% {
    transform: translate(var(--card1TranslateX), -50%);
  }

  40% {
    transform: translate(46vw, -55%);
  }

  50% {
    transform: translate(43vw, -45%);
  }

  60% {
    transform: translate(40vw, -50%);
  }

  100% {
    transform: translate(43vw, -50%);
  }
}

/* +++++++++++++++++++++++CARD 2+++++++++++++++++++++++ */

.card2,
.btn-card2 {
  transform: translate(43vw, -50%);
  z-index: 2;
}

/* ---------SHUFFLE 1--------- */

.card2-shuffle1 {
  transform: translate(18vw, -50%);
  animation: card2-shuffle1 2000ms ease-in;
  z-index: 2;
}

@keyframes card2-shuffle1 {
  0% {
    transform: translate(var(--card2TranslateX), -50%);
  }

  40% {
    transform: translate(43vw, -50%);
  }

  50% {
    transform: translate(40vw, -55%);
  }

  60% {
    transform: translate(46vw, -45%);
  }

  100% {
    transform: translate(18vw, -50%);
  }
}

/* ---------SHUFFLE 2--------- */

.card2-shuffle2 {
  transform: translate(43vw, -50%);
  animation: card2-shuffle2 2000ms ease-in;
  z-index: 3;
}

@keyframes card2-shuffle2 {
  0% {
    transform: translate(var(--card2TranslateX), -50%);
  }

  40% {
    transform: translate(46vw, -55%);
  }

  50% {
    transform: translate(43vw, -45%);
  }

  60% {
    transform: translate(40vw, -50%);
  }

  100% {
    transform: translate(43vw, -50%);
  }
}

/* ---------SHUFFLE 3--------- */

.card2-shuffle3 {
  transform: translate(68vw, -50%);
  animation: card2-shuffle3 2000ms ease-in;
  z-index: 1;
}

@keyframes card2-shuffle3 {
  0% {
    transform: translate(var(--card2TranslateX), -50%);
  }

  40% {
    transform: translate(40vw, -45%);
  }

  50% {
    transform: translate(46vw, -50%);
  }

  60% {
    transform: translate(43vw, -55%);
  }

  100% {
    transform: translate(68vw, -50%);
  }
}

/* +++++++++++++++++++++++CARD 3+++++++++++++++++++++++ */

.card3,
.btn-card3 {
  transform: translate(68vw, -50%);
  z-index: 3;
}

/* ---------SHUFFLE 1--------- */

.card3-shuffle1 {
  transform: translate(43vw, -50%);
  animation: card3-shuffle1 2000ms ease-in;
  z-index: 1;
}

@keyframes card3-shuffle1 {
  0% {
    transform: translate(var(--card3TranslateX), -50%);
  }

  40% {
    transform: translate(46vw, -55%);
  }

  50% {
    transform: translate(43vw, -45%);
  }

  60% {
    transform: translate(40vw, -50%);
  }

  100% {
    transform: translate(43vw, -50%);
  }
}

/* ---------SHUFFLE 2--------- */

.card3-shuffle2 {
  transform: translate(68vw, -50%);
  animation: card3-shuffle2 2000ms ease-in;
  z-index: 2;
}

@keyframes card3-shuffle2 {
  0% {
    transform: translate(var(--card3TranslateX), -50%);
  }

  40% {
    transform: translate(40vw, -45%);
  }

  50% {
    transform: translate(46vw, -50%);
  }

  60% {
    transform: translate(43vw, -55%);
  }

  100% {
    transform: translate(68vw, -50%);
  }
}

/* ---------SHUFFLE 3--------- */

.card3-shuffle3 {
  transform: translate(18vw, -50%);
  animation: card3-shuffle3 2000ms ease-in;
  z-index: 3;
}

@keyframes card3-shuffle3 {
  0% {
    transform: translate(var(--card3TranslateX), -50%);
  }

  40% {
    transform: translate(43vw, -50%);
  }

  50% {
    transform: translate(40vw, -55%);
  }

  60% {
    transform: translate(46vw, -45%);
  }

  100% {
    transform: translate(18vw, -50%);
  }
}

.card-face-down,
.ace-club,
.joker,
.ace-heart {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: all 500ms ease-in;
}

.card-face-down {
  transform: rotateY(0deg);
}

.ace-club,
.joker,
.ace-heart {
  transform: rotateY(180deg);
}

.card-face-down-rotate {
  transform: rotateY(-180deg);
}

.ace-club-rotate,
.joker-rotate,
.ace-heart-rotate {
  transform: rotateY(0deg);
}

.img-card {
  width: 100%;
  height: 100%;
}

.btn-card1,
.btn-card2,
.btn-card3 {
  background: transparent;
  cursor: pointer;
  z-index: 7;
}
