.spot,
.girl-mobile,
.rotate-device {
  display: none;
  position: absolute;
}

.spot {
  width: 50.4em;
  height: 52em;
  bottom: 22%;
  left: 50%;
  transform: translateX(-50%);
}

.girl-mobile,
.rotate-device {
  left: 50%;
  transform: translateX(-50%);
}

.girl-mobile {
  width: 60.8em;
  height: 94.7em;
  bottom: 20%;
}

.rotate-device {
  width: 38.7em;
  height: 21.6em;
  bottom: 17%;
}
